/* .nav.scrolledUp {
  transform: translateY(0);
}

.nav.scrolledDown {
  transform: translateY(-5rem);
} */

.menu {
  display: none;
}
@media screen and (max-width: 1000px) {
  .nav {
    justify-content: space-between;
    padding: 0 1rem;
  }
  .ul {
    display: none;
  }
  .menu {
    display: block;
  }
}
